{
  "root": true,
  "env": {
    "browser": true,
    "es2022": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "react/prop-types": "off",
    "no-unused-vars": "off"
  },
  "ignorePatterns": [
    "dist/",
    "node_modules/",
    "instalar-autenticacion.cjs",
    "public/bundle.js"
  ],
  "overrides": [
    {
      "files": [
        "src/front/store.js"
      ],
      "rules": {
        "no-case-declarations": "off"
      }
    }
  ]
}
